<div class="text-center">
  <h1> Restaurant Overview </h1>
</div>
<div style="margin-left: 600px;" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @restaurant.category %>
</p>


  <strong>Reviews:</strong>
  <% @restaurant.reviews.each do |review| %>
  <li> <%= review.content %> ( <%= review.rating %>) </li>
  <%  end %>
</p>
</div>

<div class="text-center">
<div class = "btn btn-primary" style="background-color: white; margin-right: 10px;"><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></div>
<div class = "btn btn-primary" style="background-color: white; margin-right: 10px;"><%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %></div>
<div class = "btn btn-primary" style="background-color: white; margin-right: 10px;"><%= link_to 'Delete', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<div class = "btn btn-primary" style="background-color: white; margin-right: 10px;"><%= link_to 'Back', restaurants_path %></div>
</div>

